In [1]:
import eurostat_deaths as eurostat

In [2]:
dir(eurostat)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'cache',
 'cache_deaths',
 'deaths',
 'pkg_resources',
 'populations']

In [5]:
help(eurostat.populations)

Help on function populations in module eurostat_deaths.populations:

populations(output=False, chunksize=10)

In [6]:
pop_data = eurostat.populations()

In [7]:
pop_data.head()

,sex,age,geo\time,2020,2019,2018,2017,2016,2015,2014
0,F,TOTAL,AL,1425342.0,1432833.0,1431715.0,1423050.0,1417141.0,1424597.0,1430827.0
1,F,TOTAL,AL0,1425342.0,1432833.0,1431715.0,1423050.0,1417141.0,1424597.0,1430827.0
2,F,TOTAL,AL01,399599.0,404201.0,405598.0,405835.0,406682.0,410586.0,416084.0
3,F,TOTAL,AL011,55402.0,57002.0,57895.0,59837.0,61749.0,63084.0,64941.0
4,F,TOTAL,AL012,143561.0,143366.0,142648.0,139433.0,136589.0,135847.0,135390.0

In [8]:
pop_data['sex'].value_counts()

F    44476
M    44476
T    44476
Name: sex, dtype: int64

In [9]:
pop_data['age'].value_counts()

0_4      6102
65_69    6102
5_9      6102
50_54    6102
55_59    6102
20_24    6102
60_64    6102
25_29    6102
70_74    6102
15_19    6102
75_79    6102
35_39    6102
UNK      6102
45_49    6102
40_44    6102
30_34    6102
10_14    6102
TOTAL    6102
80_84    6102
85_89    6051
90       6051
85       5388
Name: age, dtype: int64

In [14]:
pop_data['geo\\time'].value_counts()

NL225    66
RO412    66
DE278    66
BG341    66
DE21     66
         ..
AL011    60
AL03     60
AL031    60
AL022    60
AL021    60
Name: geo\time, Length: 2034, dtype: int64

In [19]:
#pop_data[(pop_data['geo\\time'] == 'SE') & (pop_data['age'] == 'T')]
pop_data[(pop_data['geo\\time'] == 'SE') & (pop_data['age'] == 'TOTAL')]

,sex,age,geo\time,2020,2019,2018,2017,2016,2015,2014
1618,F,TOTAL,SE,5131775.0,5087747.0,5037580.0,4981806.0,4920051.0,4875115.0,4830507.0
46094,M,TOTAL,SE,5195814.0,5142438.0,5082662.0,5013347.0,4930966.0,4872240.0,4814357.0
90570,T,TOTAL,SE,10327589.0,10230185.0,10120242.0,9995153.0,9851017.0,9747355.0,9644864.0

In [20]:
deaths = eurostat.deaths()

WARNING:root:input has over 200MB, processing will take a few minutes (for me 15 min)

In [21]:
import pandas as pd

In [22]:
deaths.to_csv('deaths.csv')

In [23]:
deaths.head()

  region sex    age  year  week deaths
0     AL   F  TOTAL  2005    27   None
1    AL0   F  TOTAL  2005    27   None
2   AL01   F  TOTAL  2005    27   None
3  AL011   F  TOTAL  2005    27   None
4  AL012   F  TOTAL  2005    27   None

In [27]:
deaths['sex'].value_counts()

T    33886420
F    33866044
M    33859252
Name: sex, dtype: int64

In [31]:
from datetime import datetimehelp(eurostat.deaths)

Help on function deaths in module eurostat_deaths.deaths:

deaths(regions=None, start=None, sex=None, age=None, output=None, chunksize=1)
    Reads data from Eurostat, filters and saves to CSV.

    Args:
        regions (list, optional): Filter of countries.
        start (datetime, optional): Start time. Will be rounded to week. Endtime is always end of data.
                                    Default is all the data (no filtering).
        sex (str, optional): Sex to consider.
        age (str, optional): Age to consider

In [32]:
from datetime import datetime

In [38]:
datetime.strptime('2019-01-01', '%Y-%m-%d').date()

datetime.date(2019, 1, 1)

In [61]:
deaths_new = eurostat.deaths(start = datetime.strptime('2015-01-01', '%Y-%m-%d').date())

WARNING:root:input has over 200MB, processing will take a few minutes (for me 15 min)

In [62]:
deaths_new.to_csv('/Users/stray/Documents/GitHub/covid19-proj-kmhhss/Shashi - Martin Project Support/data/deaths.csv', index = False)

In [48]:
np.sort(deaths_new['week'].unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53])

In [47]:
import numpy as np

In [60]:
np.sort(deaths_new['week'][deaths_new['year'] == 2017].unique())

array([], dtype=int64)

In [51]:
deaths_new.head()

     region sex    age  year  week deaths
5000     AL   F  TOTAL  2020     5    230
5001    AL0   F  TOTAL  2020     5    222
5002   AL01   F  TOTAL  2020     5      2
5003  AL011   F  TOTAL  2020     5     14
5004  AL012   F  TOTAL  2020     5     13